@{
    ViewBag.Message = TempData["Message"] as string;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/ResetCss.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/js/jquery-1.4.4.min.js")" type="text/javascript"></script>

	<link id="Rsd" rel="EditURI" type="application/rsd+xml" title="RSD" href="@Url.Action("Rsd", "Syndication")" />
    <link id="AtomLink" title="RSS" type="application/rss+xml" rel="alternate" href="@Url.Action("Rss", "Syndication")" />
  
</head>
<body>
    <div class="containter page">
        <header id="headermain">
			<div id="logoarea">
				<div id="logoimage"><a href="@Url.RouteUrl("Default")"><img alt="Ayende's Logo" class="topLogo" src="http://www.ayende.com/Images/logo.jpg"></a></div>
				<h1><a href="@Url.RouteUrl("Default")">Ayende @@ Rahien</a></h1>
				<h2>Unnatural acts on source code</h2>
			</div>
		</header>
        <div id="mainBody">
            <div id="sidebar">
			    <aside class="section">
                    <h1>Title</h1>
                    <p>Text 1</p>
		            <p>Text 2</p>
                </aside>

				<aside class="section">
                    <h1>Recent Comments</h1>
				</aside>

                <aside class="section tags_list">
                    <h1>Tags</h1>
                    @{Html.RenderAction("TagsList", "Post");}
                </aside>
                <aside class="section tags_list">
                    <h1>Archive</h1>
                    @{Html.RenderAction("ArchivesList", "Post");}
                </aside>

				<aside class="section login">
                    @{Html.RenderAction("CurrentUser", "Login");}
                </aside>

            </div>
            <div id="content">
                @if (!string.IsNullOrEmpty(ViewBag.Message)) { 
                    <div class="message">@ViewBag.Message</div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>