@{
    ViewBag.Message = TempData["Message"] as string;
    var blogConfig = ViewBag.BlogConfig as BlogConfigViewModel;
    if (blogConfig == null) {
        throw new InvalidOperationException("Couldn't find blog config");
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@if (ViewBag.Title != null) { <text> @ViewBag.Title - </text> }@blogConfig.Title</title>
    <meta name="description" content="@blogConfig.MetaDescription">
    <meta name="keywords" content="@blogConfig.MetaKeywords">

    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/js/html5shim.js")"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="@Url.ActionLinkWithArray("Merge", "Css", new { files = new[] { "ResetCss.css", "custom/" + blogConfig.CustomCss + ".settings.less.css", "base.less.css", "custom/" + blogConfig.CustomCss + ".less.css" } })">
    @RenderSection("Style", false)
        
	<link id="Rsd" rel="EditURI" type="application/rsd+xml" title="RSD" href="@Url.Action("Rsd", "Syndication")">
    <link id="AtomLink" title="RSS" type="application/rss+xml" rel="alternate" href="@Url.Action("Rss", "Syndication")">
  
</head>
<body>
    <div class="containter page">
        <header id="headermain">
			<div id="logoarea">
				<div id="logoimage"><a href="@Url.RouteUrl("Default")"></a></div>
				<h1><a href="@Url.RouteUrl("Default")">@blogConfig.Title</a></h1>
				<h2>@blogConfig.Subtitle</h2>
			</div>
		</header>
        <div id="mainBody">
            <div id="content">
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                { 
                    <div class="message">@ViewBag.Message</div>
                }
                @RenderBody()
            </div>
			@{Html.RenderAction("List", "Section");}
        </div>
    </div>
    @if (IsSectionDefined("Script")) {
        <script src="@Url.Content("~/Content/js/jquery-1.6.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
            function setMessage(message, cssClass) {
                var m = $('#message').html(message);
                if (cssClass) m.removeClass().addClass(cssClass);
                m.css('visibility', 'visible');
            }
        </script>
        @RenderSection("Script")
    }
</body>
</html>