@model PostsViewModel
@{
    ViewBag.CurrentAction = @ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}

<article id="post-list">
	@foreach (var post in Model.Posts)
	{
		var postUrl = Url.AbsoluteAction("Details", "PostDetails", new { post.Id, post.Slug });
		<article class="postSummery">
			<header>
				<h1><a href="@postUrl">@post.Title</a></h1>
			</header>
        
			<div class="post_body raw_html">
				@post.Body
			</div>

			<footer>
				<div class="tags">
					<span>Tags:</span>
					<ul>
						@foreach (var tag in post.Tags)
						{
							<li><a href="@Url.Action("Tag", "Post", new { tag.Slug })">@tag.Name</a></li>
						}
					</ul>
				</div>

				<p class="published">Published at <time pubdate>@post.PublishedAt.ToString("r")</time></p>
				@if (post.PublishedAt != post.CreatedAt) { 
					<p class="created">Originally posted at <time>@post.CreatedAt.ToString("r")</time></p>
				}
				@if (post.CommentsCount > 0) {
					<p class="comment-count"><a href="@postUrl#comments">Comments (@post.CommentsCount)</a></p>
				}
				<div class="clr"></div>

				<div class="share">
					<div class="twitter">
						@Html.TwitterButton("Tweet", TwitterButtonDataCount.Horizental, post.Author)
					</div>
					<div class="facebook-share">
						<a name="fb_share" type="box_count" share_url="@(Url.Abs((string)postUrl))" href="http://www.facebook.com/sharer.php?u=@(Url.Abs((string)postUrl))&t=@(post.Title)"></a>					</div>
					<div class="facebook">
						<iframe src="http://www.facebook.com/plugins/like.php?href=@(Url.RelativeToAbsolute((string)postUrl))&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
					</div>
					<div class="clr"></div>
				</div>
			</footer>
		</article>
	}

	<footer class="post-list-footer">
		@if (Model.HasPrevPage) { 
			<a href="@Url.Action(@ViewBag.CurrentAction, new { page = Model.CurrentPage - 1 })" class="prev">Previous Page</a>
		}
		@if (Model.HasNextPage) { 
			<a href="@Url.Action(@ViewBag.CurrentAction, new { page = Model.CurrentPage + 1 })" class="next">Next Page</a>
		}
	</footer>
</article>
@section script {
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>}