@model IList<RaccoonBlog.Web.Infrastructure.Indexes.Posts_ByMonthPublished_Count.ReduceResult>
@{
	Layout = "";
}
<nav id="archive">
	<ul>
		@foreach (var year in Model.GroupBy(x => x.Year))
		{
			var currentYear = year.Key;

			<li>
				<a href="#">@year.Key</a>
				<ul>
					@foreach (var postCount in Model.Where(x => x.Year == currentYear))
					{
						<li><a href="@Url.Action("Archive", "Posts", new { postCount.Year, postCount.Month })"> @(new DateTime(postCount.Year, @postCount.Month, 1).ToString("MMMM", System.Globalization.CultureInfo.InvariantCulture)) </a> (@postCount.Count)</li>
					}
				</ul>
			</li>
		}
	</ul>
</nav>
