@model IList<RecentCommentViewModel>
@{
	Layout = "";    
}
<div id="recentComments">
    <h4>@ViewBag.SectionTitle.ToUpper()</h4>
    <ul>
        @foreach (var comment in Model)
        {
            var postUrl = Url.Action("Details", "PostDetails", new { Id = comment.PostId, Slug = comment.PostSlug });

            <li>
                <div>
                    <a href="@(postUrl)#comment@(comment.CommentId)">
                        <strong class="comment-body">@comment.ShortBody</strong>
                    </a>
                </div>
	            <div>
		            <strong>By</strong>&nbsp;@comment.Author on <em>@Html.Raw(@comment.PostTitle)</em>
	            </div>
            </li>
        }
    </ul>
</div>