@model BlogConfigurationInput
@{
	ViewBag.Title = "Blog Configuration";
}
<article>
	@using (Html.BeginForm())
	{
		<p>
			@Html.EditorFor(config => config.Title)
			@Html.EditorFor(config => config.Subtitle)
			@Html.EditorFor(config => config.MetaDescription)
			@Html.EditorFor(config => config.MetaKeywords)
			@Html.EditorFor(config => config.Copyright)
			@Html.EditorFor(config => config.CustomCss)
		</p>

		<p>
			@Html.EditorFor(config => config.AkismetKey)
			@Html.EditorFor(config => config.GoogleAnalyticsKey)
		</p>

		<p>
			@Html.EditorFor(config => config.RssFuturePostsKey)
			@Html.EditorFor(config => config.RssFutureDaysAllowed)
		</p>

		<p>
			@Html.EditorFor(config => config.MinNumberOfPostForSignificantTag)
			@Html.EditorFor(config => config.NumberOfDayToCloseComments)
		</p>
		<input type="submit" value="Save" />
	}
</article>