@model SectionInput
@{
	ViewBag.H1 = Model.IsNewSection() ? "Create a New Section" : "Edit Section " + Model.Title;
    ViewBag.SubmitButtonText = Model.IsNewSection() ? "Create Section" : "Update Section";

	ViewBag.Title = ViewBag.H1;
}
<article id="section-input">
	<h1>@ViewBag.H1</h1>
	@if (ViewData.ModelState.IsValid == false) { 
        <div class="form-error">
            @Html.ValidationSummary(true)
        </div>
    }

	<form action="@Url.Action("Update")" method="post">
		@Html.EditorFor(x => x.Title)
		@Html.EditorFor(x => x.Body)
        <div class="markdown-preview-container" style="display: none">
            <span class="form_item_name">Preview Body</span>
            <div class="section markdown-preview"></div>
        </div>
        <div class="clr"></div>

		@Html.EditorFor(x => x.ControllerName)
		@Html.EditorFor(x => x.ActionName)
		@Html.EditorFor(x => x.IsActive)
				  
		@Html.EditorFor(x => x.Id)
		<input type="submit" value="@ViewBag.SubmitButtonText">
	</form>
</article>
@section Script {
    <script type="text/javascript" src="@Url.Content("~/Content/js/showdown.js")"></script>
    <script type="text/javascript">
        $(function () {
            var $textarea = $('textarea[name$="Body"]').keydown(function () {
                $('.markdown-preview-container').show('medium');
            });
            $preview = $('.markdown-preview');
            converter = new Showdown.converter();
            $textarea.keyup(function () {
                $preview.html(converter.makeHtml($textarea.val()));
            }).trigger('keyup');
        });
    </script>
}