@model PostsViewModel
@{
    
}

@foreach (var post in Model.Posts)
{
    <article class="postSummery">
        <header>
            <h1><a href="@Url.Action("Show", new { post.Id, post.Slug })">@post.Title</a></h1>
        </header>
        
        <div class="post_body">
            @post.Body
        </div>

        <footer>
            Posted at <time pubdate>@post.CreatedAt.ToString("r")</time> | Feedback (@post.CommentsCount)
        </footer>
    </article>
}