@model PostViewModel
@{
}

<article>
    <header>
        <h1>@Model.Post.Title</h1>
    </header>
    
    <nav>
        <ul>
            @if (Model.PreviousPost != null) { 
                <li><a href="@Url.Action("Post", new { Id = Model.PreviousPost.Id, Alias = Model.PreviousPost.Alias })">@Model.PreivousPost.Title</a></li>
            }
        
            @if (Model.NextPost != null)
            { 
                <li><a href="@Url.Action("Post", new { Id = Model.NextPost.Id, Alias = Model.NextPost.Alias })">@Model.NextPost.Title</a></li>
            }
        </ul>
    </nav>

    <div class="post_body">
        @post.Body
    </div>

    <footer>
        Posted at <time pubdate>@Model.Post.PostedDate.ToString("r")</time>
    </footer>

    <section>
        @foreach (var comment in Model.Comments)
        {
            <article>
                <h2>@comment.Title</h2>
                <address>
                    <a title="Comment by @comment.PostedBy" href="@comment.OwnerWebsite">@comment.PostedBy</a>
                </address>
                <div>@comment.Body</div>
                <div>Posted date: @comment.PostedDate</div>
            </article>
        }
    </section>
</article>