@model IList<SectionSummery>
@{
    ViewBag.Title = "Manage sections";
}
<div class="messageWrapper"><div id="message" style="visibility:hidden"></div></div>
<article class="sectionadmin-list">
    <h1>Sections</h1>
	@Html.ActionLink("Create Section", "Add")
	<ul class="admin-list sortable">
		@foreach (var section1 in Model) { 
			<li>
				@Html.DisplayFor(s => section1.Id)
				@Html.DisplayFor(s => section1.Title)
				@Html.DisplayFor(s => section1.IsActive)

                <div class="commands-section">
                    <ul>
                        <li><a href="@Url.Action("Edit", new { section1.Id })">Edit</a></li>
                        <li>
                            <form action="@Url.Action("Delete", new { section1.Id })" method="post">
                                <input type="submit" value="Delete" class="confirm">
                            </form>
                        </li>
                    </ul>
                </div>
			</li>
		}
	</ul>
</article>

@section Script {
    <script src="@Url.Content("~/Content/js/jquery-ui-1.8.12.custom.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('ul.sortable').sortable({
                cursor: 'move',
                update: function (e, ui) {
                    var t = $(this);
                    var li = $(ui.item);
                    var title = li.find('.display_item>strong:contains("Title")').next().text();
                    var jqxhr = $.post('/admin/sections/' + li.find('[name$="Id"]').val() + '/setposition', { newPosition: li.parent('ul').children('li').index(li) }, null, 'json');
                    jqxhr.error(failAction);
                    jqxhr.success(function (data, textStatus, jqXHR) {
                        if (!data.success) failAction();
                        else setMessage('Change section position succeed: ' + title);
                    });
                    function failAction(data, textStatus, jqXHR) {
                        t.sortable('cancel');
                        setMessage('Change section position failed: ' + (data.message ? data.message : title), 'fail');
                    }
                }
            });
            $('.confirm').click(function () {
                if (!confirm('Are you sure you want to ' + $(this).val().toLowerCase() + '?')) return false;
            });
            function setMessage(message, cssClass) {
                var m = $('#message').html(message);
                if (cssClass) m.addClass(cssClass);
                m.css('visibility', 'visible');
            }
        });
    </script>
}