<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@{
		ViewBag.Message = TempData["Message"] as string;
	}
	<title>
		@if (ViewBag.Title != null)
		{ <text> @ViewBag.Title - </text> }@ViewBag.BlogConfig.Title
	</title>
	<meta name="description" content="@ViewBag.BlogConfig.MetaDescription">

	@if (string.IsNullOrWhiteSpace(Context.Request.QueryString["key"]) == false)
	{
		<meta name="robots" content="noindex" />
	}

	@Styles.Render("~/Content/css/bootstrap")
	<link rel="stylesheet" type="text/css" href="@Url.ActionLinkWithArray("Merge", "Css", new { files = new[] { "custom/" + ViewBag.BlogConfig.CustomCss.ToLowerInvariant() + ".settings.less.css", "base.less.css", "custom/" + ViewBag.BlogConfig.CustomCss + ".less.css" } })">
	@RenderSection("Style", false)

	<link id="Rsd" rel="EditURI" type="application/rsd+xml" title="RSD" href="@Url.Action("Rsd", "Syndication")">
	<link id="AtomLink" title="RSS" type="application/rss+xml" rel="alternate" href="@Url.Action("Rss", "Syndication")">
</head>
<body>
	<div class="container-fluid page">
		<header id="headermain">
			<div id="logoarea">
				<div id="logoimage"><a href="@Url.Action("Index", "Posts")"></a></div>
				<h1><a href="@Url.Action("Index", "Posts")">@ViewBag.BlogConfig.Title</a></h1>
				<h2>@ViewBag.BlogConfig.Subtitle</h2>
			</div>
		</header>
		<div id="mainBody">
			<div id="content">
				@if (!string.IsNullOrEmpty(ViewBag.Message))
				{
					<div class="message">@ViewBag.Message</div>
				}
				@RenderBody()
			</div>
			@{Html.RenderAction("List", "Section");}
		</div>
	</div>
	@if (IsSectionDefined("Script"))
	{
		<script type="text/javascript">
			window.RaccoonRoutes = {};
		</script>
		@Scripts.Render("~/Content/js/jquery")
		@Scripts.Render("~/Content/js/jquery-migrate")
		@Scripts.Render("~/Content/js/bootstrap")
		@Scripts.Render("~/Content/js")
		<script type="text/javascript">
			$(function () {
				var timer;
				function resizeImagesToScreen() {
					$('#content img').aeImageResize({ width: $('#content').width() });
				}
				resizeImagesToScreen();
				$(window).resize(function () {
					clearTimeout(timer);
					timer = setTimeout(resizeImagesToScreen, 50);
				});
			});
		</script>
		@RenderSection("Script")
		if (string.IsNullOrEmpty(ViewBag.BlogConfig.GoogleAnalyticsKey) == false)
		{
			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '@ViewBag.BlogConfig.GoogleAnalyticsKey']);
				_gaq.push(['_trackPageview']);

				(function () {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
		}
	}
</body>
</html>