@using HibernatingRhinos.Loci.Common.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}
<div id="page-heading">
	<h1>Change user's password</h1>
	
	</div>
@if (ViewData.ModelState.IsValid == false)
 { 
        <div class="form-error">
            @Html.ValidationSummary(true)
        </div>
 }
 <article id="user-input">
	<form action="@Url.Action("ChangePassword")" method="post">
	   <table style="width: 100%;" id="content-table">
		<tr>
			<th rowspan="3" class="sized">
				<img src="@Html.AdminImage("shared/side_shadowleft.jpg")" width="20"
	height="300" alt="" />
			</th>
			<th class="topleft">
			</th>
			<td id="tbl-border-top">
				&nbsp;
			</td>
			<th class="topleft">
			</th>
			<th rowspan="3" class="sized">
				<img src="@Html.AdminImage("shared/side_shadowright.jpg")"
	width="20" height="300" alt="" />
			</th>
		</tr>
		<tr>
			<td id="tbl-border-left">
			</td>
			<td>
				<div>
					<table id="content-table-inner">
						<tr>
							<td>
								<table id="id-form">
									        <p>@Html.EditorFor(x => x.OldPassword)</p>
                                            <p>@Html.EditorFor(x => x.NewPassword)</p>
	                                        <p>@Html.EditorFor(x => x.ConfirmPassword)</p>
									        <div class="markdown-preview-container">
										         <div class="section markdown-preview">
										         </div>
									        </div>
									        @Html.HiddenFor(x => x.Id)
									       <tr>
										     <th>
										     </th>
										    <td >
											<input type="submit" value="Change Password">
										</td>
										<td>
										</td>
									</tr>
								</table>
								<!-- end id-form -->
							</td>
						</tr>
					</table>
					</div>
					
				</td>
				</tr>
	</table>
</form>
</article>
<div class="clear">
	&nbsp;</div>
@section Script {
	<script type="text/javascript" src="@Url.Content("~/Content/js/showdown.js")"></script>
	<script type="text/javascript">
		$(function () {
			var $textarea = $('textarea[name$="Body"]').keydown(function () {
				$('.markdown-preview-container').show('medium');
			});
			var $preview = $('.markdown-preview');
			var converter = new Showdown.converter();
			$textarea.keyup(function () {
				$preview.html(converter.makeHtml($textarea.val()));
			}).trigger('keyup');
		});
	</script>
}
