@using HibernatingRhinos.Loci.Common.Models
@model ChangePasswordModel
@{
	ViewBag.Title = "Change Password";
}
@if (ViewData.ModelState.IsValid == false)
{ 
	<div class="form-error">
		@Html.ValidationSummary(true)
	</div>
}
<article id="user-input">
	<div id="page-heading">
	<h1>Change user's password</h1>
	</div>
	<form action="@Url.Action("ChangePassword")" method="post">
	<div>
		<div id="content-table-inner" class="inputform" style="height: 200px; width: 650px">
			<div id="id-form"   style="top: 0; height: 200px;  width: 650px">
				 @Html.EditorFor(x => x.OldPassword)
                 @Html.EditorFor(x => x.NewPassword)
	            @Html.EditorFor(x => x.ConfirmPassword)
				@Html.HiddenFor(x => x.Id)
				<div><input type="submit" value="Change Password"></div>
			</div>
		</div>
	</div>
	</form>
</article>
<div class="clear">
	&nbsp;</div>

