@using HibernatingRhinos.Loci.Common.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}
<article id="user-input">
	<h1>Change user's password</h1>
	<br/>
@if (ViewData.ModelState.IsValid == false)
 { 
        <div class="form-error">
            @Html.ValidationSummary(true)
        </div>
 }
 <article id="user-input">
	<form action="@Url.Action("Update")" method="post">
	   <table style="width: 80%;" id="content-table">
		<tr>
			<th rowspan="3" class="sized">
				<img src="@Html.AdminImage("shared/side_shadowleft.jpg")" width="20"
	height="150" alt="" />
			</th>
			<th class="topleft">
			</th>
			<td id="tbl-border-top">
				&nbsp;
			</td>
			<th class="topleft">
			</th>
			<th rowspan="3" class="sized">
				<img src="@Html.AdminImage("shared/side_shadowright.jpg")"
	width="20" height="150" alt="" />
			</th>
		</tr>
		<tr>
			<td id="tbl-border-left">
			</td>
			<td>
				<!-- start content-table-inner -->
				<div >
					<table id="content-table-inner">
						<tr >
							<td>
								<table id="id-form">
									        <p>@Html.EditorFor(x => x.OldPassword)</p>
                                            <p>@Html.EditorFor(x => x.NewPassword)</p>
	                                        <p>@Html.EditorFor(x => x.ConfirmPassword)</p>
									
									<div class="markdown-preview-container">
										
										<div class="section markdown-preview">
										</div>
									</div>
									
									<tr>
										<th>
										</th>
										<td valign="top">
											<input type="submit" value="Change Password">
										</td>
										<td>
										</td>
									</tr>
								</table>
								<!-- end id-form -->
							</td>
						</tr>
					</table>
					</div>
	</table>
</form>
</article>
@*@using (Html.BeginForm())
{
	<table id="id-form">
	<tr>
	<td style="width: 350px; float:right;"><p>@Html.EditorFor(x => x.OldPassword)</p>
                                            <p>@Html.EditorFor(x => x.NewPassword)</p>
	                                       <p>@Html.EditorFor(x => x.ConfirmPassword)</p>
	</td>
	</tr>
	<tr>
	<td ><input type="submit" value="Change Password"></td>
	</tr>

		</table>
 }
</article>
*@
