@model IList<UserSummeryViewModel>
@{
	ViewBag.Title = "Users";
}
<article class="useradmin-list">
	<h1>Users</h1>
	<ul>
		<li>@Html.ActionLink("Create New User", "Add")</li>
	</ul>
	<ul class="admin-list">
		@foreach (var user in Model) {
			<li>
				@Html.DisplayFor(u => user.FullName)
				@Html.DisplayFor(u => user.Email)
				@Html.DisplayFor(u => user.Enabled)
				@Html.DisplayFor(u => user.TwitterNick)
				
				<div class="commands-section">
					<ul>
						<li><a href="@Url.Action("Edit", new {user.Id})">Edit</a></li>
						<li><a href="@Url.Action("ChangePassword", new {user.Id})">Change Password</a></li>
						<li>
							<form action="@Url.Action("SetActivation", new {user.Id, isActive = user.Enabled == false})" method="post">
								<input type="submit" value="@(user.Enabled ? "Disable" : "Activate")" style="width: 100px;">
							</form>
						</li>
					</ul>
				</div>
			</li>
		}
	</ul>
</article>