@model IList<UserSummeryViewModel>
@{
	ViewBag.Title = "Users";
}

<h3 class="pull-left-sm">All users</h3>
<a href="@Url.Action("Add", "Users")" class="btn btn-primary btn-sm pull-right-sm">Add new user</a>
<div class="clearfix"></div>
<hr />

@foreach (var user in Model)
{
    <div class="row user">
        <div class="col-sm-6 col-md-4 col-lg-3"> <div class="small">Full Name</div><div class="lead">@user.FullName</div></div>
        <div class="col-sm-6 col-md-4 col-lg-3"> <div class="small">Email</div><div class="lead">@user.Email</div> </div>
        <div class="col-sm-6 col-md-4 col-lg-3"> <div class="small">Phone</div><div class="lead">@user.Phone</div> </div>
        <div class="col-sm-6 col-md-4 col-lg-3"> <div class="small">Enabled</div><div class="lead">@(user.Enabled ? "yes" : "no")</div> </div>
        <div class="col-sm-6 col-md-4 col-lg-3"> <div class="small">Twitter Nick </div><div class="lead">@user.TwitterNick</div>	</div>
        <div class="col-sm-6 col-md-4 col-lg-3"> <a href="@Url.Action("Edit", new {user.Id})" class="btn btn-primary btn-block">Edit</a></div>
        <div class="col-sm-6 col-md-4 col-lg-3"> <a href="@Url.Action("ChangePassword", new {user.Id})" class="btn btn-primary btn-block">Change Password</a></div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            @using (Html.BeginForm("SetActivation", "Users", new { id = user.Id, isActive = user.Enabled == false }))
            {
                <input type="submit" value="@(user.Enabled ? "Disable" : "Activate")" class="btn btn-warning btn-block">
            }
        </div>
    </div>
}