@model SeriesPostsViewModel

@foreach (var series in Model.SeriesInfo)
{
    <h2>@Html.Raw(series.PostsInSeries[0].Title.ToSeriesTitle())</h2>
    <ol>
        @foreach (var post in series.PostsInSeries)
        {
            <li>
                <a href="@Url.Action("Details", "PostDetails", new { @post.Id, @post.Slug })">
                    <h4>@Html.Raw(post.Title.ToPostTitle())</h4>
                </a>
            </li>
        }
    </ol>
}
<nav>
    <hr />
    <ul id="paginationList" class="pagination"></ul>
</nav>
@section Script {
    @Scripts.Render("~/Content/js/jquery-twbsPagination")
    <script>
        var total = @(Model.PostsCount / Model.PageSize);

        $("#paginationList").twbsPagination({
            totalPages: (total > 0) ? total : 1,
            visiblePages: 10,
            href: '?page={{number}}'
        });
    </script>
}
