@model IList<SeriesPostsViewModel>

@foreach (var series in Model)
{
    <article>
        <h2>@series.Series</h2>
        <ol>
            @foreach (var post in series.PostsInSeries)
            {
                <li>
                    <a href="@Url.Action("Details", "PostDetails", new { @post.Id, @post.Slug })">
                        <h4>@post.Title</h4>
                    </a>
                </li>
            }
        </ol>
    </article>
}