@model IList<UserSummeryViewModel>
@{
    ViewBag.Title = "Users";
}
<article>
	<h1>Users</h1>
	@Html.ActionLink("Create New User", "Add")
	<ul class="users-list">
		@foreach (var user in Model) { 
			<li>
				
				<p><strong>User Id</strong> @user.Id</p>
				<p><strong>Full Name</strong> @user.FullName</p>
				<p><strong>Email</strong> @user.Email</p>
				<div class="edit-button">
					<div><a href="@Url.Action("Edit", new { user.Id })">Edit</a></div>
					<div><a href="@Url.Action("Pass", new { user.Id })">Change Password</a></div>
				</div>
			</li>
		}
	</ul>
</article>