@model IList<UserSummeryViewModel>
@{
    ViewBag.Title = "Users";
}
<article class="useradmin-list">
	<h1>Users</h1>
	@Html.ActionLink("Create New User", "Add")
	<ul class="admin-list">
		@foreach (var user in Model) { 
			<li>
				@Html.DisplayFor(u => user.FullName)
				@Html.DisplayFor(u => user.Email)
				@Html.DisplayFor(u => user.Enabled)
				<div class="command-section">
					<div><a href="@Url.Action("Edit", new { user.Id })">Edit</a></div>
					<div><a href="@Url.Action("ChangePass", new { user.Id })">Change Password</a></div>
					<div>
                        <form action="@Url.Action("SetActivation", new { user.Id, isActive = user.Enabled == false })" method="post">
                            <input type="submit" value="@(user.Enabled ? "Activate" : "Disable")">
                        </form>
                    </div>
				</div>
			</li>
		}
	</ul>
</article>