@{
	var blogConfig = ViewBag.BlogConfig as BlogConfigViewModel;
	if (blogConfig == null) {
		throw new InvalidOperationException("Couldn't find blog config");
	}
}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
	<channel>
		<title>@XmlHelper.Content(@blogConfig.Title)</title>
		<link>@XmlHelper.Content(@Url.RelativeToAbsolute(Url.RouteUrl("Default")))</link>
		<description>@XmlHelper.Content(@blogConfig.Title)</description>
		<copyright>@XmlHelper.Content(blogConfig.Copyright)</copyright>
		<ttl>60</ttl>
		@RenderBody()
	</channel>
</rss>