@{
	var blogConfig = ViewBag.BlogConfig as BlogConfigViewModel;
	if (blogConfig == null) {
		throw new InvalidOperationException("Couldn't find blog config");
	}
}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
	<channel>
		<title>@blogConfig.Title</title>
		<link>@Url.RelativeToAbsolute(Url.RouteUrl("Default"))</link>
		<description>@blogConfig.Title</description>
		<copyright>@blogConfig.Copyright</copyright>
		<ttl>60</ttl>
		@RenderBody()
	</channel>
</rss>