@model IList<CommentRssFeedViewModel>
@foreach (var comment in Model)
{
	<item>
		<title>@XmlHelper.Content(comment.Title)</title>
		<description>@XmlHelper.Content(comment.Body)</description>
		<link>@XmlHelper.Content(Url.AbsoluteAction("Details", "PostDetails", new { comment.PostId, comment.PostSlug }))</link>
		<guid>@XmlHelper.Content(Url.AbsoluteAction("Details", "PostDetails", new { comment.PostId, comment.PostSlug }))</guid>
		<pubDate>@XmlHelper.Content(comment.CreatedAt)</pubDate>
	</item>
}