@model IList<PostRssFeedViewModel>
@foreach (var post in Model)
{
	<item>
		<title>@XmlHelper.Content(post.Title)</title>
		<description>@XmlHelper.Content(post.Body)</description>
		<link>@XmlHelper.Content(Url.AbsoluteAction("Details", "PostDetails", new { post.Id, post.Slug }))</link>
		<guid>@XmlHelper.Content(Url.AbsoluteAction("Details", "PostDetails", new { post.Id, post.Slug }))</guid>
		<pubDate>@XmlHelper.Content(post.PublishedAt)</pubDate>
	</item>
}