@model IList<PostRssFeedViewModel>
@foreach (var post in Model)
{
	<item>
		<title>@XmlHelper.Content(post.Title)</title>
		<description>@XmlHelper.Content(post.Body)</description>
		<link>@Url.AbsoluteAction("Details", "PostDetails", new { post.Id, post.Slug })</link>
		<guid>@Url.AbsoluteAction("Details", "PostDetails", new { post.Id, post.Slug })</guid>
		<pubDate>@post.PublishedAt</pubDate>
	</item>
}