<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	@using RaccoonBlog.Web.Areas.Admin.Models
	@{
		ViewBag.Message = TempData["Message"] as string;
		var blogConfig = ViewBag.BlogConfig as BlogConfigViewModel;
		if (blogConfig == null)
		{
			throw new InvalidOperationException("Couldn't find blog config");
		}
	}
	<title>RaccoonBlog :: @ViewBag.Title</title>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/ResetCss.css")">
	<link rel="stylesheet" type="text/css" href="@Html.AdminStyle("screen.css")" media="screen">
	@*[if IE]>*@
	<link rel="stylesheet" type="text/css" href="@Html.AdminStyle("pro_dropline.css")">
	<link rel="stylesheet" type="text/css" href="@Html.AdminStyle("pro_dropline_ie.css")">
	@*<![endif]*@
	@RenderSection("Style", false)
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link  rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" />
	<link rel="stylesheet" type="text/css" href="@Html.AdminStyle("jquery-ui-timepicker-addon.css")" media="screen">
	<script src="@Url.Content("~/Content/js/jquery-ui.js")" type="text/javascript"></script>
	<script src="@Html.AdminScript("ui.checkbox.js")" type="text/javascript"></script>
	<script src="@Html.AdminScript("jquery.bind.js")" type="text/javascript"></script>
	<script src="@Html.AdminScript("jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
	@RenderSection("Script", false)
	<script type="text/javascript">
		$(function () {
			$('input[type=datetime]').datetimepicker({
				gotoCurrent: true,
				showOn: 'button',
				buttonImage: '@Url.Content("~/Areas/Admin/Content/images/forms/icon_calendar.jpg")',
				buttonImageOnly: true,
				buttonText: 'Calender',
				showSecond: true,
				timeFormat: 'hh:mm:ss',
				stepHour: 2,
				stepMinute: 10,
				stepSecond: 10
			});

			$('input').checkBox();
			$('#toggle-all').click(function () {
				$('#toggle-all').toggleClass('toggle-checked');
				$('#mainform input[type=checkbox]').checkBox('toggle');
				return false;
			});
		});
	</script>
	<![if !IE 7]>
	<!--  styled select box script version 1 -->
	<script src="@Html.AdminScript("jquery.selectbox-0.5.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function ()
			{  $('.styledselect').selectbox({
				inputClass: "selectbox_styled" });  });
	</script>
	<![endif]>
	<!--  styled select box script version 2 -->
	<script src="@Html.AdminScript("jquery.selectbox-0.5_style_2.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
			$('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
		});
	</script>
	<!--  styled select box script version 3 -->
	<script src="@Html.AdminScript("jquery.selectbox-0.5_style_2.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
		});
	</script>
	<!--  styled file upload script -->
	<script src="@Html.AdminScript("jquery.filestyle.js")" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8">
		$(function () {
			$("input.file_1").filestyle({
				image: "images/forms/choose-file.gif",
				imageheight: 21,
				imagewidth: 78,
				width: 310
			});
		});
	</script>
	<!-- Custom jquery scripts -->
	<script src="@Html.AdminScript("custom_jquery.js")" type="text/javascript"></script>
	<!-- Tooltips -->
	<script src="@Html.AdminScript("jquery.tooltip.js")" type="text/javascript"></script>
	<script src="@Html.AdminScript("jquery.dimensions.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {
			$('a.info-tooltip ').tooltip({
				track: true,
				delay: 0,
				fixPNG: true,
				showURL: false,
				showBody: " - ",
				top: -35,
				left: 5
			});
		});
	</script>
	<!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
	<script src="@Html.AdminScript("jquery.pngFix.pack.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(document).pngFix();
		});
	</script>
</head>
<body>
	<!-- Start: page-top-outer -->
	<div id="page-top-outer">
		<!-- Start: page-top -->
		<div id="page-top">
			<div id="logo">
				<a href="">
					<img src="@Html.AdminImage("shared/logo.png")" width="51" height="40" alt="" /></a>
			</div>
		</div>
		<!-- End: page-top-outer -->
		<div class="clear">
			&nbsp;</div>
		<!--  start nav-outer-repeat................................................................................................. START -->
		<div class="nav-outer-repeat">
			<!--  start nav-outer -->
			<div class="nav-outer">
				<!-- start nav-right -->
				<div id="nav-right">
					<div class="nav-divider">
						&nbsp;</div>
					<a href="@Url.Action("Logout", "Login")" id="logout">
						<img src="@Html.AdminImage("shared/nav/nav_logout.gif")" width="64" height="14" alt="" /></a>
					<div class="clear">
						&nbsp;</div>
				</div>
				<!-- end nav-right -->
				
				
				<!--  start nav -->
				<div class="nav">
					<div class="table">
						@Html.AdminMenu((IList<AdminMenu>)@ViewBag.TopMenus)
						<div class="clear">
						</div>
					</div>
					<div class="clear">
					</div>
				</div>
			</div>
			<div class="clear">
			</div>
			<!--  start nav-outer -->
		</div>
		<!--  start nav-outer-repeat................................................... END -->
		<div class="clear">
		</div>
		<!-- start content-outer ........................................................................................................................START -->
		<div id="content-outer">
			<!-- start content -->
			<div id="content">
				@RenderBody()
			</div>
			<!--  end content -->
			<div class="clear">
				&nbsp;</div>
		</div>
		<!--  end content-outer........................................................END -->
		<div class="clear">
			&nbsp;</div>
		<!-- start footer -->
		<div id="footer">
			<!-- <div id="footer-pad">&nbsp;</div> -->
			<!--  start footer-left -->
			<div id="footer-left">
				Admin Skin &copy; Copyright Internet Dreams Ltd. <a href="">www.netdreams.co.uk</a>.
				All rights reserved.</div>
			<!--  end footer-left -->
			<div class="clear">
				&nbsp;</div>
		</div>
		<!-- end footer -->
	</div>
</body>
</html>
