<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="theme-color" content="#FFF" />
        <meta name="msapplication-tap-highlight" content="no" />
    
        <title>RaccoonBlog :: @ViewBag.Title</title>
    
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
        @Html.RenderAdminTheme()
        
        @RenderSection("Style", false)
        <!--[if IE 8]>
            @Scripts.Render("~/Content/js/respond")
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
        <!-- FullCalendar -->
        @Scripts.Render("~/Admin/Content/js/bootstrap")
        @RenderSection("Script", false)
        
    </head>
    <body>
        <section class="main-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.RouteUrl("homepage")">Racoon Blog</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{Html.RenderPartial("RenderMenu", RaccoonBlog.Web.Areas.Admin.Helpers.MenuUtil.GetTopMenu(Url));}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Logout", "Login")"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="container">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="container">
                <span class="small">Footer copyrights, things and stuff.</span>
            </div>
        </footer>

        @Scripts.Render("~/Admin/Content/js/setup")
    </body>
</html>