@using RaccoonBlog.Web.Areas.Admin.Models
@{
    ViewBag.Message = TempData["Message"] as string;
    var blogConfig = ViewBag.BlogConfig as BlogConfigViewModel;
    if (blogConfig == null) {
        throw new InvalidOperationException("Couldn't find blog config");
    }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RaccoonBlog :: @ViewBag.Title</title>
<link rel="stylesheet" href="@Html.AdminStyle("screen.css")" type="text/css" media="screen" title="default" />
<!--[if IE]>
<link rel="stylesheet" media="all" type="text/css" href="@Html.AdminStyle("pro_dropline_ie.css")" />
<![endif]-->
@RenderSection("Style", false)

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<!--  checkbox styling script -->
<script src="@Html.AdminScript("jquery/ui.core.js")" type="text/javascript"></script>
<script src="@Html.AdminScript("jquery/ui.checkbox.js")" type="text/javascript"></script>
<script src="@Html.AdminScript("jquery/jquery.bind.js")" type="text/javascript"></script>

@RenderSection("Script", false)

<script type="text/javascript">
    $(function () {
        $('input').checkBox();
        $('#toggle-all').click(function () {
            $('#toggle-all').toggleClass('toggle-checked');
            $('#mainform input[type=checkbox]').checkBox('toggle');
            return false;
        });
    });
</script>  

<![if !IE 7]>

<!--  styled select box script version 1 -->
<script src="@Html.AdminScript("jquery/jquery.selectbox-0.5.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.styledselect').selectbox({ inputClass: "selectbox_styled" });
    });
</script>
 

<![endif]>

<!--  styled select box script version 2 --> 
<script src="@Html.AdminScript("jquery/jquery.selectbox-0.5_style_2.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
        $('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
    });
</script>

<!--  styled select box script version 3 --> 
<script src="@Html.AdminScript("jquery/jquery.selectbox-0.5_style_2.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
    });
</script>

<!--  styled file upload script --> 
<script src="@Html.AdminScript("jquery/jquery.filestyle.js")" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $("input.file_1").filestyle({
            image: "images/forms/choose-file.gif",
            imageheight: 21,
            imagewidth: 78,
            width: 310
        });
    });
</script>

<!-- Custom jquery scripts -->
<script src="@Html.AdminScript("jquery/custom_jquery.js")" type="text/javascript"></script>
 
<!-- Tooltips -->
<script src="@Html.AdminScript("jquery/jquery.tooltip.js")" type="text/javascript"></script>
<script src="@Html.AdminScript("jquery/jquery.dimensions.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('a.info-tooltip ').tooltip({
            track: true,
            delay: 0,
            fixPNG: true,
            showURL: false,
            showBody: " - ",
            top: -35,
            left: 5
        });
    });
</script> 


<!--  date picker script -->
<link rel="stylesheet" href="@Html.AdminStyle("datePicker.css")" type="text/css" />
<script src="@Html.AdminScript("jquery/date.js")" type="text/javascript"></script>
<script src="@Html.AdminScript("jquery/jquery.datePicker.js")" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
    $(function () {

        // initialise the "Select date" link
        $('#date-pick')
	.datePicker(
        // associate the link with a date picker
		{
		createButton: false,
		startDate: '01/01/2005',
		endDate: '31/12/2020'
}
	).bind(
        // when the link is clicked display the date picker
		'click',
		function () {
		    updateSelects($(this).dpGetSelected()[0]);
		    $(this).dpDisplay();
		    return false;
		}
	).bind(
        // when a date is selected update the SELECTs
		'dateSelected',
		function (e, selectedDate, $td, state) {
		    updateSelects(selectedDate);
		}
	).bind(
		'dpClosed',
		function (e, selected) {
		    updateSelects(selected[0]);
		}
	);

        var updateSelects = function (selectedDate) {
            var selectedDate = new Date(selectedDate);
            $('#d option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
            $('#m option[value=' + (selectedDate.getMonth() + 1) + ']').attr('selected', 'selected');
            $('#y option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
        }
        // listen for when the selects are changed and update the picker
        $('#d, #m, #y')
	.bind(
		'change',
		function () {
		    var d = new Date(
						$('#y').val(),
						$('#m').val() - 1,
						$('#d').val()
					);
		    $('#date-pick').dpSetSelected(d.asString());
		}
	);

        // default the position of the selects to today
        var today = new Date();
        updateSelects(today.getTime());

        // and update the datePicker to reflect it...
        $('#d').trigger('change');
    });
</script>

<!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
<script src="@Html.AdminScript("jquery/jquery.pngFix.pack.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).pngFix();
    });
</script>
</head>
<body> 
<!-- Start: page-top-outer -->
<div id="page-top-outer">    

<!-- Start: page-top -->
<div id="page-top">
	<div id="logo">
	    <a href=""><img src="@Html.AdminImage("shared/logo.png")" width="51" height="40" alt="" /></a>
	</div>

	<!--  start top-search -->
	<div id="top-search">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
		<td><input type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" /></td>
		<td>
		<select  class="styledselect">
			<option value=""> All</option>
			<option value=""> Products</option>
			<option value=""> Categories</option>
			<option value="">Clients</option>
			<option value="">News</option>
		</select> 
		</td>
		<td>
		<input type="image" src="@Html.AdminImage("shared/top_search_btn.gif")" />
		</td>
		</tr>
		</table>
	</div>
 	<!--  end top-search -->
 	<div class="clear"></div>

</div>
<!-- End: page-top -->

</div>
<!-- End: page-top-outer -->
	
<div class="clear">&nbsp;</div>
 
<!--  start nav-outer-repeat................................................................................................. START -->
<div class="nav-outer-repeat"> 
<!--  start nav-outer -->
<div class="nav-outer"> 

		<!-- start nav-right -->
		<div id="nav-right">
		
			<div class="nav-divider">&nbsp;</div>
			<div class="showhide-account"><img src="@Html.AdminImage("shared/nav/nav_myaccount.gif")" width="93" height="14" alt="" /></div>
			<div class="nav-divider">&nbsp;</div>
			<a href="" id="logout"><img src="@Html.AdminImage("shared/nav/nav_logout.gif")" width="64" height="14" alt="" /></a>
			<div class="clear">&nbsp;</div>

			<div class="account-content">
			<div class="account-drop-inner">
				<a href="" id="acc-settings">Settings</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-details">Personal details </a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-project">Project details</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-inbox">Inbox</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-stats">Statistics</a> 
			</div>
			</div>
		</div>
		<!-- end nav-right -->

		<!--  start nav -->
		<div class="nav">
		<div class="table">

        @Html.AdminMenu((IList<AdminMenu>)@ViewBag.TopMenus)
		
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>

</div>
<div class="clear"></div>
<!--  start nav-outer -->
</div>
<!--  start nav-outer-repeat................................................... END -->

  <div class="clear"></div>
 
<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
<!-- start content -->
<div id="content">

@RenderBody()

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->

<div class="clear">&nbsp;</div>
    
<!-- start footer -->         
<div id="footer">
<!-- <div id="footer-pad">&nbsp;</div> -->
	<!--  start footer-left -->
	<div id="footer-left">
	Admin Skin &copy; Copyright Internet Dreams Ltd. <a href="">www.netdreams.co.uk</a>. All rights reserved.</div>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->
 
</body>
</html>