<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	@using RaccoonBlog.Web.Areas.Admin.Models
	@{
		ViewBag.Message = TempData["Message"] as string;
		var blogConfig = ViewBag.BlogConfig as BlogConfigViewModel;
		if (blogConfig == null)
		{
			throw new InvalidOperationException("Couldn't find blog config");
		}
	}
	<title>RaccoonBlog :: @ViewBag.Title</title>
	<link rel="stylesheet" type="text/css" href="@Url.ActionLinkWithArray("Merge", "Css", new { files = new[] { "ResetCss.css", "custom/" + blogConfig.CustomCss + ".settings.less.css", "base.less.css", "custom/" + blogConfig.CustomCss + ".less.css" } })">
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Content/css/screen.css")">
	
	@RenderSection("Style", false)
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link  rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
	<script src="@Url.Content("~/Content/js/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/js/raccoon-blog.js")" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Content/css/jquery-ui-timepicker-addon.css")">
	<script src="@Url.Content("~/Areas/Admin/Content/js/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
	@RenderSection("Script", false)
	<script type="text/javascript">
		$(function () {
			$('input[type=datetime]').datetimepicker({
				gotoCurrent: true,
				showOn: 'button',
				buttonImage: '@Url.Content("~/Areas/Admin/Content/images/forms/icon_calendar.jpg")',
				buttonImageOnly: true,
				buttonText: 'Calendar',
				showSecond: true,
				timeFormat: 'hh:mm:ss',
				stepHour: 2,
				stepMinute: 10,
				stepSecond: 10
			});

			$('#toggle-all').click(function () {
				$('#toggle-all').toggleClass('toggle-checked');
				$('#mainform input[type=checkbox]').checkBox('toggle');
				return false;
			});
		});
	</script>
	
@if (ViewExtensions.IsDebug())
{
	<script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")"></script>
}
else
{
	<script type="text/javascript" src="@Url.Content("~/Scripts/modernizr.custom.23209.js")"></script>
	
}
	<script type="text/javascript">
		
	</script>
</head>
<body>
	<div id="page-top-outer">
		<!-- Start: page-top -->
		<div id="page-top">
			<div id="logo">
				<a href=""><img src="@Url.Content("~/Areas/Admin/Content/images/logo.png")" width="51" height="40" alt="Logo"></a>
			</div>
		</div>
		<!-- End: page-top-outer -->
		<div class="clear">
			&nbsp;</div>
		<!--  start nav-outer-repeat................................................................................................. START -->
		<div class="nav-outer-repeat">
			<!--  start nav-outer -->
			<div class="nav-outer">
				<!-- start nav-right -->
				<div id="nav-right">
					<div class="nav-divider">
						&nbsp;</div>
					<a href="@Url.Action("Logout", "Login")" id="logout">Logout</a>
					<div class="clear">
						&nbsp;</div>
				</div>
				<!-- end nav-right -->
				
				
				<!--  start nav -->
				<div class="nav">
					<div class="table">
						@Html.AdminMenu((IList<AdminMenu>)@ViewBag.TopMenus)
						<div class="clear">
						</div>
					</div>
					<div class="clear">
					</div>
				</div>
			</div>
			<div class="clear">
			</div>
			<!--  start nav-outer -->
		</div>
		<!--  start nav-outer-repeat................................................... END -->
		<div class="clear">
		</div>
		<!-- start content-outer ........................................................................................................................START -->
		<div id="content-outer">
			<!-- start content -->
			<div id="content">
				@RenderBody()
			</div>
			<!--  end content -->
			<div class="clear">
				&nbsp;</div>
		</div>
		<!--  end content-outer........................................................END -->
		<div class="clear">
			&nbsp;</div>
		<!-- start footer -->
		<div id="footer">
			<!-- <div id="footer-pad">&nbsp;</div> -->
			<!--  start footer-left -->
			<div id="footer-left">
				Admin Skin &copy; Copyright Internet Dreams Ltd. <a href="">www.netdreams.co.uk</a>.
				All rights reserved.</div>
			<!--  end footer-left -->
			<div class="clear">
				&nbsp;</div>
		</div>
	</div>
</body>
</html>