@using System.ComponentModel.DataAnnotations
<div class="form-group">
    <label class="col-sm-6 col-md-4 text-right-sm">
        @ViewData.ModelMetadata.DisplayName
        <div class="small">@ViewData.ModelMetadata.Description</div>
    </label>
    <div class="col-sm-6 col-md-8">
        @{
            var isDateTime = ViewData.ModelMetadata.DataTypeName == Enum.GetName(typeof(DataType), DataType.Date);
            var divClass = isDateTime ? "date datepicker" : string.Empty;
        }
        <div class="@divClass">
            @Html.TextBox(string.Empty, ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control" })
        </div>
        @Html.ValidationMessage(string.Empty)
    </div>
</div>