@using RaccoonBlog.Web.Models
@model PostInput
@{
	ViewBag.Title = @Model.Title;
}
<div id="page-heading">
	<h1>
		Create a new post</h1>
</div>
@if (ViewData.ModelState.IsValid == false)
{ 
	<div class="form-error">
		@Html.ValidationSummary(true)
	</div>
}
<article id="user-input">
	<form action="@Url.Action("Add")" method="post">
	<table style="width: 130%;" id="content-table">
		<tr>
			<th rowspan="3" class="sized">
				<img src="@Html.AdminImage("shared/side_shadowleft.jpg")" width="20"
	height="300" alt="" />
			</th>
			<th class="topleft">
			</th>
			<td id="tbl-border-top">
				&nbsp;
			</td>
			<th class="topleft">
			</th>
			<th rowspan="3" class="sized">
				<img src="@Html.AdminImage("shared/side_shadowright.jpg")"
	width="20" height="300" alt="" />
			</th>
		</tr>
		<tr>
			<td id="tbl-border-left">
			</td>
			<td>
				<div>
					<table id="content-table-inner">
						<tr>
							<td id="id-form">
								<div>@Html.EditorFor(x => x.Title)</div>
								<div>@Html.TextAreaFor(x => x.Body, new { @class = "adminRichText" })</div>
								<div>@Html.EditorFor(x => x.CreatedAt)</div>
								<div>@Html.EditorFor(x => x.PublishAt)</div>
								<div>@Html.EditorFor(x => x.Tags)</div>
								<div>@Html.EditorFor(x => x.AllowComments)</div>
								@Html.HiddenFor(x => x.Id)
								<div>
									<input type="submit" value="Update Post"></div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	</form>
</article>
<div class="clear">
	&nbsp;</div>
@section Script {
	<script type="text/javascript" src="@Url.Script("ckeditor/ckeditor.js")"></script>
	<script type="text/javascript" src="@Url.Script("ckeditor/adapters/jquery.js")"></script>
	<script type="text/javascript">
		jQuery(document).ready(function () {
			jQuery(".adminRichText").ckeditor();
		});
	</script>
}
