@model EditPostViewModel
@{
    ViewBag.Title = @Model.Input.Title;
}

<article class="post">
    <form action="@Url.Action("Update")" method="post">
        @Html.EditorFor(x => x.Input.Title)
        @Html.EditorFor(x => x.Input.Body)
        @Html.EditorFor(x => x.Input.CreatedAt)
        @Html.EditorFor(x => x.Input.PublishAt)
        @Html.EditorFor(x => x.Input.Tags)
        @Html.EditorFor(x => x.Input.AllowComments)

        @Html.EditorFor(x => x.Input.Id)
        <input type="submit" value="Update Post">
    </form>
</article>