@model PostsViewModel
@{
    ViewBag.Title = "Ayende @ Rahien blog";
}

@foreach (var post in Model.Posts)
{
    ViewBag.PostUrl = Url.Action("Show", new { post.Id, post.Slug });
    <article class="postSummery">
        <header>
            <h1><a href="@ViewBag.PostUrl">@post.Title</a></h1>
        </header>
        
        <div class="post_body raw_html">
            @post.Body
        </div>

        <div class="tags">
            <ul>
                @foreach (var tag in post.Tags)
                {
                    <li><a href="@Url.Action("Index", new {tag})">@tag</a></li>
                }
            </ul>
        </div>

        <footer>
            Posted @@ <time pubdate>@post.CreatedAt.ToString("r")</time> | <a href="@ViewBag.PostUrl#feedback">Feedback (@post.CommentsCount)</a>
        </footer>
    </article>
}

