@model PostsViewModel
@{
    ViewBag.Title = "Ayende @ Rahien blog";
    ViewBag.CurrentAction = @ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}

@foreach (var post in Model.Posts)
{
    ViewBag.PostUrl = Url.Action("Details", new { post.Id, post.Slug });
    <article class="postSummery">
        <header>
            <h1><a href="@ViewBag.PostUrl">@post.Title</a></h1>
        </header>
        
        <div class="post_body raw_html">
            @post.Body
        </div>

        <footer>
            Posted @@ <time pubdate>@post.CreatedAt.ToString("r")</time> | <a href="@ViewBag.PostUrl#feedback">Feedback (@post.CommentsCount)</a>
        </footer>

		<div class="tags">
		    <ul>
                @foreach (var name in post.Tags)
                {
                    <li><a href="@Url.Action("Tag", new { name })">@name</a></li>
                }
            </ul>
        </div>

    </article>
}

@if (Model.HasNextPage) { 
    <a href="@Url.Action(@ViewBag.CurrentAction, new { page = Model.CurrentPage + 1 })">Next Page</a>
}
@if (Model.HasPrevPage) { 
    <a href="@Url.Action(@ViewBag.CurrentAction, new { page = Model.CurrentPage - 1 })">Previous Page</a>
}