@model PostViewModel


@helper PreviousSeriesArticleLink(PostViewModel model)
{
var prev = model.GetPreviousPostInSeries();
if (prev != null)
{
        <a href="@Url.Post(prev.Id, prev.Slug)" class="pull-left series">
            @Html.Glyphicon("chevron-left")
            &nbsp;previous series post
        </a>
}
}

@helper NextSeriesArticleLink(PostViewModel model)
{
var next = model.GetNextPostInSeries();
if (next != null)
{
        <a href="@Url.Post(next.Id, next.Slug)" class="pull-right series">
            &nbsp;next series post
            @Html.Glyphicon("chevron-right")
        </a>
}
}

@helper SeriesLink(PostViewModel model)
{
if (model.IsSeriesArticle())
{
        <a href="@Url.Series(Model.SeriesInfo.SeriesId, Model.SeriesInfo.SeriesSlug)" class="pull-left series">
            <i class="glyphicon glyphicon-book"></i>
            &nbsp;all series posts
        </a>
}
}

<nav class="nextPrev">
    @if (Model.PreviousPost != null)
    {
        <a class="pull-left" href="@Url.Post(Model.PreviousPost.DomainId, Model.PreviousPost.Slug)">
            @Html.Glyphicon("chevron-left")&nbsp;previous post
        </a>
    }

    @if (Model.NextPost != null)
    {
        <a class="pull-right" href="@Url.Post(Model.NextPost.DomainId, Model.NextPost.Slug)">
            next post&nbsp;
            @Html.Glyphicon("chevron-right")
        </a>
    }

    <div class="clearfix-xs"></div>

    @PreviousSeriesArticleLink(Model)

    @SeriesLink(Model)

    @NextSeriesArticleLink(Model)

    <div class="clearfix"></div>
</nav>
