@model PostInput
@{
    ViewBag.Title = @Model.Title;
}

<article class="post">
    <form action="@Url.Action("Update")" method="post">
        @Html.EditorFor(x => x.Title)
        @Html.EditorFor(x => x.Body)
        @Html.EditorFor(x => x.CreatedAt)
        @Html.EditorFor(x => x.PublishAt)
        @Html.EditorFor(x => x.Tags)
        @Html.EditorFor(x => x.AllowComments)

        @Html.EditorFor(x => x.Id)
        <input type="submit" value="Update Post">
    </form>
</article>