@{
    ViewBag.Title = "Manage posts";
}
<div id="message"></div>
<div id="postsCalendar">

</div>
@section Style {
    <link href="@Url.Content("~/Content/css/fullcalendar.css")" rel="stylesheet" type="text/css">
}
@section Script {
    <script src="@Url.Content("~/Content/js/jquery-ui-1.8.12.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/fullcalendar.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var setArticleDate = '@Url.Action("SetArticleDate")';
            $('#postsCalendar').fullCalendar({
                weekends: false,
                editable: true,
                disableResizing: true,
                eventSources: [{
                    url: '@Url.Action("ListFeed")',
                    type: 'POST',
                    error: function(xhr, ajaxOptions, error) {
                        alert('There was an error while fetching events! Error Code: ' + xhr.status + ' Error: ' + error);
                    },
                }],
                eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) { 
                    var jqxhr = $.post(setArticleDate, {}, function(){ setMessage('Change post date succeed'); }, 'json');
                    jqxhr.error(function(){ 
                        revertFunc(); 
                        setMessage('Change post date failed', 'fail');
                    });
                }
            });
            
            function setMessage(message, cssClass) {
                var m = $('#message').html(message);
                if (cssClass) m.addClass(cssClass);
            }
        });
    </script>
}