@model BlogConfigurationInput
@{
	ViewBag.Title = "Blog Configuration";
}
<article>
	@if (ViewData.ModelState.IsValid == false)
	{
		<div class="form-error">
			@Html.ValidationSummary(true)
		</div>
	}

	@using (Html.BeginForm())
	{
	
			@Html.EditorFor(config => config.Title) 
			@Html.EditorFor(config => config.Subtitle)
			@Html.EditorFor(config => config.MetaDescription)
			@Html.EditorFor(config => config.MetaKeywords)
			@Html.EditorFor(config => config.Copyright)
			@Html.EditorFor(config => config.CustomCss)
			@Html.EditorFor(config => config.AkismetKey)
			@Html.EditorFor(config => config.GoogleAnalyticsKey)
			@Html.EditorFor(config => config.RssFuturePostsKey)
			@Html.EditorFor(config => config.RssFutureDaysAllowed)
			@Html.EditorFor(config => config.MinNumberOfPostForSignificantTag)
			@Html.EditorFor(config => config.NumberOfDayToCloseComments)
		
		<input type="submit" value="Save" />
	}
</article>