@model RaccoonBlog.Web.Models.BlogConfig
@{
	ViewBag.Title = "Blog Configuration";
}
@if (ViewData.ModelState.IsValid == false)
{ 
	<div class="form-error">
		@Html.ValidationSummary(true)
	</div>
}
<article id="user-input">
	<div id="page-heading">
		<h1>Settings</h1>
	</div>
	@using (Html.BeginForm())
	{
		<div>
			<div id="content-table-inner" class="inputform">
				<div id="id-form" style="top: 0;">
					@Html.EditorFor(config => config.Title)
					@Html.EditorFor(config => config.Subtitle)
					@Html.EditorFor(config => config.OwnerEmail)
					@Html.EditorFor(config => config.TwitterLogin)
					@Html.EditorFor(config => config.FacebookLogin)
					@Html.EditorFor(config => config.GoogleLogin)
					@Html.EditorFor(config => config.GithubLogin)
					@Html.EditorFor(config => config.RssLogin)

					@Html.EditorFor(config => config.MetaDescription)
					@Html.EditorFor(config => config.Copyright)
					@Html.EditorFor(config => config.CustomCss)

					@Html.EditorFor(config => config.AkismetKey)
					@Html.EditorFor(config => config.GoogleAnalyticsKey)
					@Html.EditorFor(config => config.FuturePostsEncryptionKey)

					@Html.EditorFor(config => config.MinNumberOfPostForSignificantTag)
					@Html.EditorFor(config => config.NumberOfDayToCloseComments)
					
					@Html.EditorFor(config => config.PostsOnPage)

					@Html.EditorFor(config => config.Id)
					<div><input type="submit" value="Save" /></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	}
</article>
<div class="clear"></div>