@model BlogConfigurationInput
@{
	ViewBag.Title = "Blog Configuration";
}
<article>
	@if (ViewData.ModelState.IsValid == false)
	{
		<div class="form-error">
			@Html.ValidationSummary(true)
		</div>
	}

	@using (Html.BeginForm())
	{
	
		<p>
			@Html.EditorFor(config => config.Title) </p>
	 <p>
			@Html.EditorFor(config => config.Subtitle)</p>
			 <p>@Html.EditorFor(config => config.MetaDescription)</p>
			 <p>@Html.EditorFor(config => config.MetaKeywords)</p>
			 <p>@Html.EditorFor(config => config.Copyright)</p>
			 <p>@Html.EditorFor(config => config.CustomCss)</p>
		
			 <p>@Html.EditorFor(config => config.AkismetKey)</p>
			 <p>@Html.EditorFor(config => config.GoogleAnalyticsKey)</p>
		
			 <p>@Html.EditorFor(config => config.RssFuturePostsKey)</p>
			 <p>@Html.EditorFor(config => config.RssFutureDaysAllowed)</p>
		
			 <p>@Html.EditorFor(config => config.MinNumberOfPostForSignificantTag)</p>
			 <p>@Html.EditorFor(config => config.NumberOfDayToCloseComments)</p>
		
		<input type="submit" value="Save" />
	}
</article>