@model RaccoonBlog.Web.Models.BlogConfig
@{
	ViewBag.Title = "Blog Configuration";
}
@if (ViewData.ModelState.IsValid == false)
{ 
	<div class="form-error">
		@Html.ValidationSummary(true)
	</div>
}
<h3>Settings</h3>
<hr />
@using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorFor(x => x.Title, "TextLong")
    @Html.EditorFor(x => x.Subtitle, "TextLong")
    @Html.EditorFor(x => x.OwnerEmail, "EmailAddress")
    @Html.EditorFor(x => x.TwitterLogin, "TextLong")
    @Html.EditorFor(x => x.FacebookLogin, "TextLong")
    @Html.EditorFor(x => x.GoogleLogin, "TextLong")
    @Html.EditorFor(x => x.GithubLogin, "TextLong")
    @Html.EditorFor(x => x.RssLogin, "TextLong")
    @Html.EditorFor(x => x.MetaDescription, "TextLong")
    @Html.EditorFor(x => x.Copyright, "TextLong")
    @Html.EditorFor(x => x.CustomCss, "TextLong")
    @Html.EditorFor(x => x.AkismetKey, "TextLong")
    @Html.EditorFor(x => x.GoogleAnalyticsKey, "TextLong")
    @Html.EditorFor(x => x.FuturePostsEncryptionKey, "TextLong")
    @Html.EditorFor(x => x.FuturePostsEncryptionIv, "TextLong", new { maxlength = 16 })
    @Html.EditorFor(x => x.FuturePostsEncryptionSalt, "TextLong")
    @Html.EditorFor(x => x.MinNumberOfPostForSignificantTag)
    @Html.EditorFor(x => x.NumberOfDayToCloseComments)
    @Html.EditorFor(x => x.PostsOnPage)

    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </div>
    </div>
}