@using RaccoonBlog.Web.Models.SocialNetwork
@using RaccoonBlog.Web.Models
@using RaccoonBlog.Web.Helpers;
@using RaccoonBlog.Web.Infrastructure.AutoMapper.Profiles.Resolvers
@using RaccoonBlog.Web.Infrastructure.Common
@model RaccoonBlog.Web.Areas.Admin.ViewModels.RedditManualSubmissionViewModel


@helper ManualSubmissionAction(Post post, Reddit.PostSubmission postSubmission)
{
if (postSubmission.IsManualSubmissionPending == false)
{
        <a href="@Url.Action(MVC.Admin.Settings.ActionNames.SubmitToReddit, MVC.Admin.Settings.Name, new
                 {
                     sr = postSubmission.Subreddit,
                     postId = post.Id
                 })">
            Submit to /r/@postSubmission.Subreddit manually
        </a>
}
    <br />
    <a href="@Url.Action(MVC.Admin.Settings.ActionNames.ResetFailedRedditSubmission, MVC.Admin.Settings.Name, new
                 {
                     sr = postSubmission.Subreddit,
                     postId = post.Id
                 })">
        Reset status
    </a>
}

<div class="reddit-submission">

    <h2>Manual Reddit submissions</h2>

    <p>
        Here you can manage and submit failed Reddit submissions.
        You can either manually submit the link or reset its status, so that the blog will retry submission next time around.
    </p>

    <div class="row">
        <div class="col-sm-12">
            <h3 class="sr-only">Reasons</h3>
            <div class="text-info bg-info note list-unstyled">
                <i class="glyphicon glyphicon-info-sign"></i>&nbsp;
                <strong>Failure reasons</strong><br />

                <ul>
                    <li>
                        <strong>Captcha failure</strong><br />
                        Could not submit post to subreddit due to captcha failure.
                        Most likely your account does not have enough karma for captcha-less submission.
                    </li>
                    <li>
                        <strong>Unknown failure</strong><br />
                        Could not submit post to subreddit due to some unexpected error.
                        This includes network or unexpected Reddit API errors. Please check the logs for details.
                    </li>
                    <li>
                        <strong>Manual submission failure</strong><br />
                        Manual submission was started, but blog verified the post was not submitted to subreddit after all.
                        Perhaps user has navigated away from the page when trying to submit the link manually
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-12">

            <h3>Failed submissions</h3>

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Post title</th>
                        <th>Subreddit</th>
                        <th>Reason for manual submission</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model.NotSubmittedPosts)
                    {
                        foreach (var failedSubmission in post.Integration.Reddit.GetFailedSubmissions())
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(post.Title, MVC.PostDetails.ActionNames.Details, MVC.PostDetails.Name, new
                               {
                                   Id = RavenIdResolver.Resolve(post.Id),
                                   Slug = SlugConverter.TitleToSlug(post.Title),
                                   Area = ""
                               }, null)
                                </td>
                                <td>/r/@failedSubmission.Subreddit</td>
                                <td>@failedSubmission.Status</td>
                                <td class="actions">
                                    @ManualSubmissionAction(post, failedSubmission)
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>

        </div>
    </div>
</div>
