@model SectionInput
@{
	ViewBag.H1 = Model.IsNewSection() ? "Create a New Section" : "Edit Section " + Model.Title;
    ViewBag.SubmitButtonText = Model.IsNewSection() ? "Create Section" : "Update Section";

	ViewBag.Title = ViewBag.H1;
}
<article id="section-input">
	<h1>@ViewBag.H1</h1>
	@Html.ValidationSummary(true)

	<form action="@Url.Action("Update")" method="post">
		@Html.EditorFor(x => x.Title)
		@Html.EditorFor(x => x.Body)
		@Html.EditorFor(x => x.ControllerName)
		@Html.EditorFor(x => x.ActionName)
		@Html.EditorFor(x => x.IsActive)
				  
		@Html.EditorFor(x => x.Id)
		<input type="submit" value="@ViewBag.SubmitButtonText">
	</form>
</article>